<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_car">
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                        
            <!-- 
            <plugin>ros2_control_demo_example_11/CarlikeBotSystemHardware</plugin>
            <param name="example_param_hw_start_duration_sec">0</param>
            <param name="example_param_hw_stop_duration_sec">3.0</param>
            <param name="is_simulation">1</param>
            -->       
        </hardware>
        
        <!-- Front Left Wheel Steer-->        
        <joint name="front_left_hinge_joint">
            <command_interface name="position"/>
            <state_interface name="position" />
        </joint>     
      
        <!-- Front Right Wheel Steer-->         
        <joint name="front_right_hinge_joint">
          <command_interface name="position"/>
          <state_interface name="position" />
        </joint>       
          
        <!-- Rear Left Wheel Drive-->          
        <joint name="base_to_back_left_wheel">
            <command_interface name="velocity"/>
            <state_interface name="velocity" />
        </joint>
            
        <!-- Rear Right Wheel Drive-->            
        <joint name="base_to_back_right_wheel">
            <command_interface name="velocity"/>
            <state_interface name="velocity" />
        </joint>      
    </ros2_control>
    
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control"> 
            <!--
            <ros> 
                <remapping>asc/reference_unstamped:=cmd_vel</remapping>       
                <remapping>asc/odometry:=odom</remapping> 
                <remapping>asc/tf_odometry:=tf</remapping> 
            </ros> 
            -->
            <parameters>$(find team6_car)/config/controller/my_controllers.yaml</parameters>
        </plugin>
    </gazebo>
    
</robot>
