<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_car">
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        
        <!-- Front Left Wheel Steer-->        
        <joint name="front_left_wheel_steer_joint">
            <command_interface name="position"/>
            <state_interface name="position" />
        </joint>     
      
        <!-- Front Right Wheel Steer-->         
        <joint name="front_right_wheel_steer_joint">
          <command_interface name="position"/>
          <state_interface name="position" />
        </joint>       
          
        <!-- Rear Left Wheel Drive-->          
        <joint name="back_left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity" />
        </joint>
            
        <!-- Rear Right Wheel Drive-->            
        <joint name="back_right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity" />
        </joint>      
    </ros2_control>
    
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control"> 
            
            <ros> 
                <remapping>asc/reference:=cmd_vel_stamped</remapping>
                <remapping>asc/odometry:=odom</remapping> 
                <remapping>asc/tf_odometry:=tf</remapping> 
            </ros> 
            
            <parameters>$(find team6_car)/config/my_controllers.yaml</parameters>
        </plugin>
    </gazebo>
    
</robot>
